/* .blogcard{
    display: flex;
    flex-direction:column;
    border-radius: 2em;
    overflow: hidden;
    margin: 2;
    background-color: rgb(127, 1, 217);
    height: fit-content;
    margin-left: 6px;
    margin-right: 6px;
} */